.Profile {
    padding: 20px;
    height: 60vh;
    width: 50vw;
    margin: 40px auto;
    background-color: #eeeeee !important;
    color: #66bb6a !important;
}

.Profile-field {
    margin-bottom: 10px !important;
    width: 50%;
}

.Profile-errors {
    color: red;
    margin-bottom: 7px;
}

.Profile h1 {
    font-size: 2.5rem;
}